.menu-contact-link {
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

// .menu__item:not(:last-child) {
//   margin-right: 50px;
// }

.mail-link {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);

  &:hover,
  &:focus,
  &:hover .contact-link-item,
  &:focus .contact-link-item {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.tel-link {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);

  &:hover,
  &:focus,
  &:hover .contact-link-item,
  &:focus .contact-link-item {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.mail-link.color-link {
  display: flex;
  align-items: center;
}

.tel-link.color-link {
  display: flex;
  align-items: center;
}

.color-link {
  color: var(--text-color);
  fill: var(--text-color);
}

.contact-link-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
