.clients--alignment {
  @media screen and(min-width: 480px) {
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(2, 210px);
  }

  @media screen and(min-width: 768px) {
    grid-template-columns: repeat(3, 226px);
  }

  @media screen and(min-width: 1200px) {
    grid-template-columns: repeat(6, 170px);
  }
}
.clients__item {
  &:not(:last-child) {
    margin-bottom: var(--gap);
  }

  @media screen and(min-width: 480px) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
.client {
  color: var(--color-faded);
  display: inline-block;

  height: 92px;
  border: 1px solid var(--color-faded);
  border-radius: 4px;
  transition: color var(--effect-duration) var(--timing-function),
    border var(--effect-duration) var(--timing-function);

  width: 100%;

  &__logo {
    fill: currentColor;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover,
  &:focus {
    color: var(--color-brand);
    border: 1px solid var(--color-brand);
  }
}
