.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  font-size: 28px;
  line-height: 1.18;

  color: var(--color-titles);
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: var(--gap);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.sm-icon {
  fill: currentColor;
  align-self: center;

  &--alignment {
    display: flex;
    justify-content: center;
  }

  &--container {
    width: 44px;
    height: 44px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.link {
  text-decoration: none;
}
