.contact-form {
  width: 270px;

  padding: 40px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media screen and(min-width: 480px) {
    width: 370px;
  }
  @media screen and(min-width: 1200px) {
    width: 448px;
  }
}

.contact-form--alignment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact-form__instruction {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--color-titles);
  margin-bottom: 12px;
}
.contact-form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.contact-form--fields-alignment {
  position: relative;
  margin-bottom: 10px;
}
.contact-form__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 16px 11px 42px;
  transition: border var(--effect-duration) var(--timing-function);
  &:focus {
    outline: none;
    border: 1px solid var(--color-brand);
  }
}
.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--color-titles);
  transform: translateY(-50%);
  transition: color var(--effect-duration) var(--timing-function);
}
.contact-form__input:focus + .contact-form__icon {
  fill: var(--color-brand);
}
.contact-form__textarea {
  resize: none;
  height: 110px;
  padding-left: 16px;

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.contact-form__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  &--hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    background-color: var(--color-brand);
  }
  &--custom {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--color-titles);
    border-radius: 4px;
    margin-right: 8px;
  }
  &--checked-icon {
    visibility: hidden;
  }
}
.contact-form__checkbox--hidden:checked + .contact-form__checkbox--custom {
  background-color: var(--color-brand);
  border: 0;
  background-origin: border-box;
}
.contact-form__checkbox--hidden:focus + .contact-form__checkbox--custom {
  outline: var(--color-brand) 1px solid;
}
.contact-form__checkbox--hidden:checked
  + .contact-form__checkbox--custom
  > .contact-form__checkbox--checked-icon {
  visibility: visible;
}
.contact-form__checkbox-text {
  font-size: 12px;
  line-height: 0.86;

  letter-spacing: 0.03em;

  @media screen and(min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.contact-form__checkbox-link {
  color: var(--color-brand);
}

.contact-form__button {
  @extend %button;
  padding-left: 56px;
  padding-right: 56px;
  align-self: center;
}
