:root {
  --color-basic: #ffffff;
  --color-contrast: #000000;
  --color-light-bg: #f5f4fa;
  --color-dark-bg: #2f303a;
  --color-brand: #2196f3;
  --color-text: #757575;
  --color-titles: #212121;
  --color-faded: #afb1b8;
  --font-main: 'Roboto', 'Verdana', sans-serif;
  --font-brand: 'Raleway', sans-serif;
  --gap: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --effect-duration: 250ms;
}
