:root {
--main-font: 'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;
--color-black: #000000;
--accent-color: #2196f3;
--title-color: #212121;
--text-color: #757575;
--button-hover-color: #188ce8;
--secondary-color: #ffffff;
--team-bg: #f5f4fa;
--social-svg: #afb1b8;
--bg-color: #2f303a;
--hero-bg: #c4c4c4;
--padd: 30px;
--effect-duration: 250ms;
--timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}